/* Apply indentation to subsequent paragraphs within the same section */
.wysiwyg-content p {
    @apply font-superclarendon text-regular/regular !important;
    @apply indent-sp5 sm:indent-sp8;
}

/* Remove indentation from first paragraph */
.wysiwyg-content p:first-of-type {
    text-indent: 0 !important;
}

/* Remove indentation from paragraphs after headings */
.wysiwyg-content h4 + p {
    text-indent: 0 !important;
}

/* Remove indentation from paragraphs with the no-indent class */
.wysiwyg-content p.no-indent {
    text-indent: 0 !important;
}

.no-indent {
    text-indent: 0 !important;
}

.wysiwyg-content p { 
    @apply font-superclarendon text-regular/regular !important;
}

.wysiwyg-content h4 {
    @apply font-dfserif text-medium/medium !important;
}

.wysiwyg-content span { 
    @apply font-superclarendon text-regular/regular !important;
}

.wysiwyg-content a {
    @apply font-superclarendon text-regular/regular underline hover:text-df-red !important;
}

.wysiwyg-content div:empty {
    min-height: 1.5em !important;
    display: block !important;
}

#mailchimp-signup-form input[type="text"], input[type="email"] {
    @apply font-superclarendon text-regular/regular;
}

#mailchimp-signup-form input[type="text"]:focus, input[type="email"]:focus {
    outline: 0px solid transparent;
    outline-offset: 0px;
}


/* Loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#loading-image {
    opacity: 0;
    transform: translateY(100%); /* Start off-screen */
}

#nav-container, #main-content {
    position: relative;
    opacity: 1; /* Ensure visibility */
    transform: translateY(100%); /* Start off-screen for the loading sequence */
}

::selection {
    background-color: rgba(132, 30, 44, 0.99);
    color: #EEE;
}

/* Fixes hover state on social page */
.collapse-title {
    pointer-events: none;
}

.collapse-title p {
    pointer-events: auto;
}

.collapse > input[type="checkbox"] {
    pointer-events: auto;
    cursor: pointer;
}

.collapse:hover .collapse-title p {
    color: rgba(132, 30, 44, 0.99);
}

/* Ensure empty paragraphs have proper height */
.wysiwyg-content p:empty {
    min-height: 1.5em;
    display: block;
}

/* Ensure empty h4 elements have proper height */
.wysiwyg-content h4:empty {
    min-height: 1.5em;
    display: block;
    margin: 1em 0;
}
