.wysiwyg-exhibition p {
    @apply font-superclarendon text-base/regular sm:text-regular/regular;
}

.wysiwyg-exhibition a {
    @apply underline hover:text-df-red;
}

.wysiwyg-exhibition p:not(:first-child) {
    @apply indent-sp5 sm:indent-sp8;
}

/* Ensure the section break marker itself is invisible */
.wysiwyg-content .section-break {
    @apply opacity-0 h-[calc(0.5rem+0.6vw)];
}

/* Remove indentation from the first paragraph in each section */
.wysiwyg-content p:first-of-type,          /* First paragraph at start */
.wysiwyg-content .section-break + p {      /* First paragraph after each section break */
    text-indent: 0; /* No indent */
}

/* Apply indentation to subsequent paragraphs within the same section */
.wysiwyg-content p {
    @apply indent-sp5 sm:indent-sp8; /* Adjust to your `sp5` or `sp8` spacing */
}

/* Reset indentation on paragraphs following a section break */
.wysiwyg-content .section-break + p + p {
    @apply indent-sp5 sm:indent-sp8;
}

.wysiwyg-content p { 
    @apply font-superclarendon text-base/regular sm:text-regular/regular !important;
}

.wysiwyg-content span { 
    @apply font-superclarendon text-base/regular sm:text-regular/regular !important;
}

.wysiwyg-content a {
    @apply font-superclarendon text-base/regular sm:text-regular/regular underline hover:text-df-red !important;
}

.wysiwyg-credits p {
    @apply font-superclarendon text-base/regular sm:text-regular/regular;
}

.wysiwyg-credits h4 {
    @apply font-dfserif text-medium/medium;
}

.wysiwyg-artists p {
    @apply font-superclarendon text-base/regular sm:text-regular/regular;
}

#mailchimp-signup-form input[type="text"], input[type="email"] {
    @apply font-superclarendon text-base/regular sm:text-regular/regular;
}


/* Loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#loading-image {
    opacity: 0;
    transform: translateY(100%); /* Start off-screen */
}

#nav-container, #main-content {
    position: relative;
    opacity: 1; /* Ensure visibility */
    transform: translateY(100%); /* Start off-screen for the loading sequence */
}


::selection {
    color: #EEE;
    background: #841E2C;
}


